/* IN PROGRESS */

/* 

--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  
  - SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html,
body {
  font-family: "Smythe", cursive;
  /* font-style: normal; */
  font-style: regular;
  font-weight: 400;
  margin: 0;
  color: #000000;
  background: #f5f5f5;
}
/* ************************** */
/* ******* TYPOGRAPHY ******* */
/* ************************** */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

h1 {
  font-size: 39px;
  line-height: 24px;
}

h2 {
  font-size: 22.42px;
  /* line-height: 14px; */
  line-height: 13.8px;
}

h3 {
  font-size: 28px;
  line-height: 17px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-style: regular;
  /* font-size: 12px; */
  font-size: 28px;
  line-height: 16.8px;
}

p {
  margin: 0;
}
/* ************************** */
/* ********* LAYOUT ********* */
/* ************************** */
.flex-container {
  display: flex;
}

.vertical {
  flex-direction: column;
}

header,
main,
#menu-section {
  margin: 0 auto;
}

header {
  background-image: url("./images/bg-img.png");
  width: 600px;
  height: 167px;
  color: #ffffff;
  gap: 19px;
  margin-bottom: 30px;
}

main,
#menu-section {
  width: 508px;
  gap: 45px;
}

.title {
  margin: 46px 0 0 46.07px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
}

.subtitle {
  margin: 0 0 0 46.07px;
}

#discount-message {
  font-size: 24px;
  text-align: center;
}

.discount-level {
  /* color: red; */
  color: #f43f5e;
}

/* ************************** */
/* ********* ITEMS ********* */
/* ************************** */
.item {
  height: 140px;
  width: 504px;
  gap: 31px;
  margin: 0;
  border-bottom: 1px solid #d2d2d2;
}

.emoji {
  align-items: center;
  text-align: center;
  font-size: 78.72px;
  line-height: 98.4px;
  /* letter-spacing: -0.02em; */
  letter-spacing: -2%;
  height: 89px;
  width: 70px;
}

.item-details {
  margin-top: 7px;
}

.item-ingredients {
  margin-top: 8.8px;
  color: #8b8b8b;
}

.item-price {
  margin-top: 8px;
}

.increment-btn {
  width: 50px;
  height: 50px;
  margin: 8px 0 0 auto;
}

/* ************************** */
/* **** CHECKOUT SECTION **** */
/* ************************** */

#checkout-title {
  text-align: center;
}

.hidden {
  display: none;
}

#order-items {
  border-bottom: 2px solid #393333;
  padding: 64px 0 22px 0;
  gap: 5px;
}

.order-item {
  align-items: center;
}

.discount-item {
  margin-top: 3px;
  color: red;
}

.item-count {
  margin-left: 13px;
  margin-top: 10px;
}

#plus-minus-icons {
  justify-content: space-between;
  width: 70px;
  margin-left: 30px;
}

.checkout-item-price,
#total-price-sum {
  font-size: 20px;
  line-height: 24px;
  margin: 0 4px 0 auto;
}

.remove-item {
  color: #bbbbbb;
}

.remove-item:hover {
  color: red;
}

.add-item {
  color: #bbbbbb;
}

.add-item:hover {
  color: green;
}

#total-price-section {
  margin-top: 14px;
}

.total-price-label {
  line-height: 24px;
}

.complete-order-btn {
  height: 60px;
  background-color: #16db99;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: none;
  margin: 53px 0 50px 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.complete-order-btn:hover {
  background-color: #73e9c1;
  color: #393333;
}
